@model UserInfo
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="Jthemes" />
    <meta name="description" content="ImmiEx - Immigration and Visa Consulting Website Template" />
    <meta name="keywords" content="Responsive, Jthemes, One Page, Landing, Business, Coaching, Consulting, Creative, Immigration, Visa">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="152x152" href="~/images/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/images/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/images/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" href="~/images/apple-touch-icon.png">
    <link rel="icon" href="apple-touch-icon.html" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,600,700,800,900&amp;display=swap" rel="stylesheet">
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../../../../use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" rel="stylesheet" crossorigin="anonymous">
    <link href="~/css/flaticon.css" rel="stylesheet">
    <link href="~/css/menu.css" rel="stylesheet">
    <link id="effect" href="~/css/dropdown-effects/fade-down.css" media="all" rel="stylesheet">
    <link href="~/css/tweenmax.css" rel="stylesheet">
    <link href="~/css/magnific-popup.css" rel="stylesheet">
    <link href="~/css/owl.carousel.min.css" rel="stylesheet">
    <link href="~/css/owl.theme.default.min.css" rel="stylesheet">
    <link href="~/css/red.css" rel="stylesheet">
    <link href="~/css/aqua.css" rel="alternate stylesheet" title="aqua-theme">
    <link href="~/css/blue.css" rel="alternate stylesheet" title="blue-theme">
    <link href="~/css/salmon.css" rel="alternate stylesheet" title="salmon-theme">
    <link href="~/css/green.css" rel="alternate stylesheet" title="green-theme">
    <link href="~/css/olive.css" rel="alternate stylesheet" title="olive-theme">
    <link href="~/css/orange.css" rel="alternate stylesheet" title="orange-theme">
    <link href="~/css/darkred.css" rel="alternate stylesheet" title="darkred-theme">
    <link href="~/css/teal.css" rel="alternate stylesheet" title="teal-theme">
    <link href="~/css/yellow.css" rel="alternate stylesheet" title="yellow-theme">
    <link href="~/css/responsive.css" rel="stylesheet">
</head>
<body>
    <div id="page" class="page">
        <header id="header-2" class="header white-menu">
            <div class="header-wrapper">
                <div class="wsmobileheader clearfix">
                    <a id="wsnavtoggle" class="wsanimated-arrow"><span></span></a>
                    <span class="smllogo"><img src="~/images/logo-black.png" width="200" height="50" alt="mobile-logo" /></span>
                    <a href="tel:123456789" class="callusbtn"><i class="fas fa-phone"></i></a>
                </div>
                <div class="headtoppart bg-white clearfix">
                    <div class="headerwp clearfix">
                        <div class="headertopleft">
                            <div class="header-info clearfix">
                                <span class="txt-400"><i class="fa-solid fa-location-pin"></i>Baku, Caspian Plaza</span>
                            </div>
                        </div>
                        <div class="headertopright header-contacts">
                            <a href="tel:123456789" class="callusbtn b-right txt-400">&#8194;+994 55 665 76 37</a>
                            <a href="mailto:yourdomain@mail.com" class="txt-400"><i class="far fa-envelope-open"></i>info@ucg.az</a>
                        </div>
                    </div>
                </div>
                <div class="wsmainfull menu clearfix">
                    <div class="wsmainwp clearfix">
                        <nav class="wsmenu clearfix blue-header">
                            <ul class="wsmenu-list">
                                <li aria-haspopup="true">
                                    <a href="/">Home</a>
                                </li>
                                <li aria-haspopup="true">
                                    <a href="/">Services</a>
                                </li>
                                <li aria-haspopup="true">
                                    <a href="/">How it works?</a>
                                </li>
                                <li aria-haspopup="true">
                                    <a href="/Main/Privacy">Privacy Policy</a>
                                </li>
                                <li class="nl-simple" aria-haspopup="true">
                                    <a href="/" class="header-btn btn-primary tra-black-hover last-link">Contact</a>
                                </li>
                                <div class="mobil" style="width: 100%;display: none;">
                                    <br><br>
                                    <a style="margin-left: 10px" href="/">
                                        EN
                                        <img style="width: 30px;height: 20px;border-radius: 100%" src="https://upload.wikimedia.org/wikipedia/en/thumb/a/ae/Flag_of_the_United_Kingdom.svg/1200px-Flag_of_the_United_Kingdom.svg.png">
                                    </a>
                                    <a style="margin-left: 10px" href="Main/RusIndex">
                                        RU
                                        <img style="width: 30px;height: 20px;border-radius: 100%" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Flag_of_Russia.svg/1280px-Flag_of_Russia.svg.png">
                                    </a>
                                </div>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <div class="inner-page-wrapper">
            <div id="breadcrumb" class="bg-darkblue division">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb white-color">
                                    <li class="breadcrumb-item active" aria-current="page">Application</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <section id="contacts-4" class="bg-lightgrey bg-tra-city wide-100 contacts-section division">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 section-title center">
                            <h2 class="h2-xs">Application</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="contact-boxes">
                                <div class="contact-box icon-xs clearfix mb-25">
                                    <div class="contact-box-txt">
                                        <h5 class="h5-sm deepblue-color">India-Australia Visa</h5>
                                        <h5 class="h5-xs deepblue-color">Price</h5>
                                        <p class="grey-color">106$</p>
                                    </div>
                                </div>
                            </div>
                        </div>





                        <div class="col-lg-7">
                            <div class="form-holder">
                                <form method="post" action="/Main/Odenikec" enctype="multipart/form-data" class="row contact-form">
                                    <div id="input-name" class="col-lg-12">
                                        <input asp-for="UserInfoName" required type="text"  placeholder="Enter Your Name*" class="form-control name">
                                    </div>
                                    <div id="input-name" class="col-lg-12">
                                        <input type="text" asp-for="UserInfoSurname"  class="form-control name" placeholder="Enter Your Surname*" required>
                                    </div>
                                    <div id="input-age" class="col-lg-12">
                                        <input type="date" asp-for="UserInfoAge"  class="form-control date" placeholder="Enter Your Age*" required>
                                    </div>
                                    <div id="input-phone" class="col-lg-12">
                                        <input type="tel" asp-for="UserInfoPhone" class="form-control phone" placeholder="Enter Your Phone Number*" required>
                                    </div>
                                    <div id="input-email" class="col-lg-12">
                                        <input type="text" asp-for="UserInfoEmail"  class="form-control email" placeholder="Enter Your Email*" required>
                                    </div>
                                    <div id="input-email" class="col-lg-12">
                                        <input type="text" asp-for="UserInfoPassportId"  class="form-control email" placeholder="Enter Your Passport ID*" required>
                                    </div>
                                    <div id="input-subject" class="col-lg-12 input-subject">
                                        <select asp-for="UserInfoTypeVisa" id="inlineFormCustomSelect2" class="custom-select subject" required>
                                            <option value="">Your Application About..</option>
                                            <option>Student Visa</option>
                                            <option>Travel visa</option>
                                            <option>Working Visa</option>
                                            <option>Business Visa</option>
                                            <option>Visitor Visa</option>
                                            <option>Other...</option>
                                        </select>
                                    </div>
                                    <div id="input-email" class="col-lg-12">
                                        <input asp-for="UserInfoFile" type="file" name="Photo" class="form-control email" required>
                                    </div>
                                    <div class="col-lg-12 mt-15 form-btn">
                                        <button  class="btn btn-primary tra-black-hover submit">Send</button>
                                    </div>
                                    <div class="col-lg-12 contact-form-msg text-center">
                                        <div class="sending-msg"><span class="loading"></span></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <footer id="footer-3" class="wide-40 footer division">
                <div class="container">
                    <div class="bottom-footer">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-4 col-lg-3">
                                <img src="~/images/logo-black.png" width="210" height="50" alt="footer-logo">
                            </div>
                            <div class="col-md-8 col-lg-9 text-right">
                                <p class="footer-copyright"><a href="https://api.whatsapp.com/send?phone=994552291080" class="cprght">&copy;Copyright © 2022 ASADZ GROUP All Rights Reserved</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    @*<script src="~/js/jquery-3.3.1.min.js"></script>*@
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/modernizr.custom.js"></script>
    <script src="~/js/jquery.easing.js"></script>
    <script src="~/js/jquery.appear.js"></script>
    <script src="~/js/jquery.stellar.min.js"></script>
    <script src="~/js/menu.js"></script>
    <script src="~/js/materialize.js"></script>
    <script src="~/js/jquery.scrollto.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/js/isotope.pkgd.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/hero-request-form.js"></script>
    <script src="~/js/hero-register-form.js"></script>
    <script src="~/js/request-form.js"></script>
    <script src="~/js/contact-form.js"></script>
    <script src="~/js/comment-form.js"></script>
    <script src="~/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/js/google-map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUQmwdDWm3cQXhPqIO9TsKHq7hrvh2XrU&amp;callback=initMap" async defer></script>
    <script src="~/js/changer.js"></script>
    <script defer src="~/js/styleswitch.js"></script>
</body>
</html>	